<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="https://mdbgo.com/">
            <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp" height="16" alt="" loading="lazy"
                style="margin-top: -1px;" />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler cor-padrao" type="button" (click)="buttonsNav.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarButtonsExample" mdbCollapse #buttonsNav="mdbCollapse">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

            <div class="d-flex align-items-center cor-padrao">
                <button type="button" class="btn btn-primary me-3">
                    Login
                </button>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<form>
    <div class="container-login">
        <div class="centralizar">
            <mdb-form-control class="mb-4">
                <input mdbInput type="text" id="usuario" class="form-control" />
                <label mdbLabel class="form-label" for="usuario">Usuário</label>
            </mdb-form-control>

            <mdb-form-control class="mb-4">
                <input mdbInput type="password" id="senha" class="form-control" />
                <label mdbLabel class="form-label" for="senha">Senha</label>
            </mdb-form-control>


            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="form1Example3"
                            checked />
                        <label class="form-check-label" for="form1Example3"> Relembrar </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Esqueceu a senha?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button mdbRipple type="button" class="btn btn-primary btn-block">Entrar</button>
        </div>
    </div>
</form>