<div class="container">
    <div class="row topo">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card centralizar">
                <div class="card-body">
                    <img src="Mini_Escrita_DutraMóveis.png" class="img-fluid" alt="Logo Dutra Móveis"/>
                    <h5 class="card-title mb-3">Recuperar Senha</h5>
                    <mdb-form-control>
                        <input mdbInput type="text" id="usuario" class="form-control mb-3" [(ngModel)]="usuario"/>
                        <label mdbLabel class="form-label" for="usuario">Usuário</label>
                    </mdb-form-control>
                    <button type="button" class="btn btn-primary mb-3" (click)="enviarRecuperacao()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>