<nav class="custom-navbar-bg-color navbar navbar-expand-lg bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <nav class="custom-navbar-bg-color navbar bg-body-tertiary shadow-none">
        <div class="container shadow-0">
            <a class="navbar-brand" href="#">
                <img src="logidutra.svg" height="60" alt=""
                    loading="lazy" />
            </a>
        </div>
    </nav>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="leftAligned.toggle()"
      aria-controls="navbarLeftAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarLeftAlignExample"
      mdbCollapse
      #leftAligned="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item active d-flex align-items-center">
          <a class="nav-link" aria-current="page" routerLink="/admin/romaneios">
            <img src="romaneio-logo.svg" height="40px">ROMANEIOS
          </a>
        </li>

        <li mdbDropdown class="nav-item dropdown d-flex align-items-center">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <img src="cadastros-icone.svg" height="40px">CADASTROS
        </a>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" [routerLink]="['cadastros', 'usuarios']">Usuarios</a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['cadastros', 'motoristas']">Motoristas</a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['cadastros', 'veiculos']">Veiculos</a>
          </li>
        </ul>
      </li>

      <li mdbDropdown class="nav-item dropdown me-3 ms-3">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
            class="rounded-circle"
            height="50"
            alt=""
            loading="lazy"
          />
          Username
        </a>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </li>

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
